[workspace]
authors = ["uv-xiao <shallwexiao@gmail.com>"]
channels = ["conda-forge"]
name = "aps-mlir"
platforms = ["linux-64"]
version = "0.1.0"

[activation.env]
CIRCT_COMMIT = "e2b32a42e"
PYTHONPATH = "${PWD}/build/python_packages/circt_core:${PYTHONPATH}"
OR_TOOLS_PATH = "${PWD}/install"
PATH = "${PWD}/install/bin:${PATH}"

[tasks]

setup-ortools = { cmd = "pixi run chmod +x scripts/setup-ortools.sh && pixi run scripts/setup-ortools.sh", inputs = ["scripts/setup-ortools.sh"], outputs = ["__setup-ortools.success"] }
setup = { cmd = "pixi run chmod +x scripts/setup.sh && pixi run scripts/setup.sh $CIRCT_COMMIT", inputs = ["scripts/setup.sh","__setup-ortools.success"], outputs = ["__setup.success"] }

mkdir_build = { cmd = "mkdir -p build", outputs = ["build"] }
build = { cmd = "pixi run cmake .. -G Ninja && ninja", depends-on = ["mkdir_build"], cwd = "build"}
clean = { cmd = "rm -rf build"}

# Python execution with CIRCT bindings
python = { cmd = "python" }
pytest = { cmd = "python -m pytest -s -v" }
silicon = { cmd = "python dev_scripts/silicon.py" }

# CADL Frontend - APS Frontend Tool
aps-frontend = { cmd = "python aps-frontend" }
parse = { cmd = "python aps-frontend parse" }
parse-summary = { cmd = "python aps-frontend parse --summary" }
mlir = { cmd = "python aps-frontend mlir" }


[dependencies]
cmake = ">=4.1.1,<5"
python = ">=3.13.7,<3.14"
zlib = ">=1.3.1,<2"
make = ">=4.4.1,<5"
pyyaml = ">=6.0.2,<7"
clang = ">=21.1.0,<22"
lld = ">=21.1.0,<22"
nanobind = "2.4.0.*"
numpy = ">=2.3.3,<3"
pybind11 = ">=2.10.0,<=2.13.6"
ml_dtypes = ">=0.5.0,<=0.6.0"
psutil = ">=7.0.0,<8"
lp_solve = ">=5.5.2.11,<6"
nlohmann_json = ">=3.12.0,<4"
verilator = ">=5.34,<6"
setuptools = ">=80.9.0,<81"
setuptools_scm = ">=9.2.0,<10"
ninja = ">=1.13.1,<2"
z3prover = ">=4.15.3,<5"
iverilog = ">=11.0,<12"

[pypi-dependencies]
lark = ">=1.1.0"
dataclasses-json = ">=0.6.0"
pytest = ">=8.4.2,<9"
pytest-cov = ">=7.0.0, <8"
black = ">=25.9.0, <26"
isort = ">=6.0.1, <7"
mypy = ">=1.18.2, <2"